.game__wrapper {
  max-width: 800px;
  width: 100%;
  min-height: 600px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game__box-wrapper {
  border: 1px solid black;
}
